[Unit]
Description=Cryfs mounting

[Service]
Type=forking
Environment=CRYFS_FRONTEND=noninteractive
ExecStart=/bin/bash /home/tobias/programming/scripts/mount_cryfs.sh

[Install]
WantedBy=default.target
